<div class="box panel panel-default">
	<%= link_to (image_tag pin.image(:medium)), pin %>
	<div class="panel-body">
		<%= pin.description %>
		<%= pin.user.name if pin.user %>
		<%= link_to 'Show', pin_path(pin) %>

		<% if current_user == pin.user %>
			<%= link_to 'Edit', edit_pin_path(pin) %>
			<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
</div>

